$theme_color1:#7a5424;
$theme_color2:#A8804F;
$theme_color3:#C7A372;
$white:#FFFFFF;
$black:#000000;
$border:#3C3C3C;
$bg_grad1:#CFC4B2;
$bg_pink:#F8DFC1;
$brown:#7E4B2C;
$faint_pink: #FFE8B5;

// breakpoints
$sl:1280px;
$md:1024px;
$sm:992px;
$xs:767px;
$lg:1800px;
$xss:330px;

* {
    -webkit-tap-highlight-color: transparent;
}