@import '_variable.scss';
@import 'main.scss';

.w100mob{
    @media (max-width: $sm){
        width: 100%;
    }
}
.hide{display: none;}
.pd-10{padding: 10px;}
.mg-bt-10{margin-bottom:10px;}
.mg-bt-20{margin-bottom:20px;}
.mg-bt-30{margin-bottom:30px;}
.mg-tp-10{margin-top:10px;}
.mg-tp-15{margin-top:15px;}
.mg-tp-20{margin-top:20px;}
.mg-tp-30{margin-top:30px;}
.mg-tp-40{margin-top:40px;}
.mg-tp-50{margin-top:50px;}
.mg-tp-60{margin-top:50px;}
.mg-tp-70{margin-top:50px;}
.mg-rt-10{margin-right:10px;}
.mg-rt-20{margin-right:20px;}
.mg-rt-30{margin-right:30px;}
.mg-lt-10{margin-left:10px;}
.text-faint{color: $faint_pink !important;}

.cursorPointer{
    cursor: pointer;
}
.align-center{
    display: flex;
    align-items: center;
}
.playfair{
    font-family: $playfair;
}
.sec-title {
    color: #502B13;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .6px;
}
.sec-head {
    color: #502B13;
    font-size: 42px;
    line-height: 52px;
    font-family: $playfair;
    display: inline-block;
    font-weight: 400;
    @media (max-width: $sm) {
        font-size: 28px;
        line-height: 32px;
    }
    @media (max-width: $xss) {
        line-height: 32px;
    }
    span{
        font-size: 52px;
        line-height: 40px;
        font-weight: 600;
        @media (max-width: $sm) {
            font-size: 42px;
            line-height: 48px;
        }
    }
}
.sec-subhead{
        font-size: 34px;
        line-height: 30px;
    @media (max-width: $sm) {
        font-size: 22px;
        line-height: 30px;
    }
}
.sec-subdesc {
    font-size: 72px;
    line-height: 86px;
    font-weight: 600;
    color: #502b13;
    font-family: $playfair;
    display: flex;
    align-items: end;
    margin-bottom: 25px;
    @media (max-width: $sm) {
        font-size: 30px;
        line-height: 35px;
        padding-top: 10px;
        .r-svg{
            width: 40px;
        }
    }
}
.ima {
    color: #000;
    font-size: 34px;
    line-height: 45px!important;
    line-height: 30px;
    font-weight: 600;
    font-family: Playfair Display,serif;
    margin-top: 40px;
    margin-bottom: 30px;
}
.sec-desc {    
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    @media (max-width: $sm) {
        font-size: 14px;
        line-height: 18px;
    }
}
.enquire-button-anim {
    margin-top: 50px;
    display: inline-block;
    overflow-x: hidden!important;
    color: $white;
    text-transform: uppercase;
    width: 140px; 
    transition: all 0.3s ease-in-out; 
    border-bottom: 1px solid $white;
    // padding-bottom: 2px;
    height: 33px;
    .text1 {
      display: inline-block;
      white-space: nowrap;
      font-weight: 600;
      transform: translateX(-15px);
      transition: transform 0.3s ease-in-out;
      .arrow-1 {
        display: inline-block;
        transform: translateX(10px);
        transition: transform 0.3s ease-in-out;
        vertical-align: 0;
        font-size: 20px;
      }
      .arrow-2 {
        display: inline-block;
        transform: translateX(-40px);
        transition: transform 0.3s ease-in-out;
        vertical-align: 0;
        font-size: 20px;
      }
    }
  
    &:hover {
        border-bottom: 2px solid $white;
        transition: transform 0.3s ease-in-out;
      .text1  {
        transform: translateX(20px);
        transition: transform 0.3s ease-in-out;
        .arrow-1 {
            transform: translateX(40px);
            transition: transform 0.3s ease-in-out;
        }
        .arrow-2 {
            transform: translateX(-20px);
            transition: transform 0.3s ease-in-out;
          }
      }
    }
  }
  .white-btn {
    padding: 8px 20px;
    background:#AE7E4A;
    border-radius: 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0px 2px 11px rgba(0,0,0,0);
    box-shadow: 0px 2px 11px rgba(0,0,0,0);
    color: $white;
    cursor: pointer;
    width: auto;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position:relative;
    padding-left:10px;
    img{
        position: absolute;
        left: -8px;
        max-width: 100%;
        height: auto;
        width: 60px;
        top: -8px;
    }
    span{
        margin-left: 20px;
    }
}
.submit-btn {
    background-image: url(../images/animbtn.webp);
    cursor: pointer;
    width: 100px;
    height: 75px;
    font-weight: 600;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: unset;
    background-position-x: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.text-white{color: $white;}
.img-desc {
    font-size: 9px;
    padding: 0 3px;
    /* background-color: rgba(0,0,0,.6); */
    position: absolute;
    bottom: 50px;
    left: -30px;
    transform: rotate(-90deg);
    color: #fff;
}
.mgtpdesk{
    @media (min-width:$sm){
        margin-top: 30px;
    }
}
.cont{
    margin-top: 40px;
}
.form-wrap {
    box-shadow: 0 3px 6px rgba(0,0,0,.1607843137);
    border: 2px solid #F0C687;
    border-radius: 30px;
    background-color: hsla(0,0%,100%,.8784313725);
    padding: 1.875rem 2.438rem;
    width: 33.625rem;
    height: auto;
    margin-top: -40px;
    @media (max-width: $sm){
        width: 97%;
        padding: 1.875rem 1rem;
        margin: 0 auto;
    }
    .cont-head{
        font-size: 2.125rem;
        line-height: 2.5rem;
        color: #252525;
        font-weight: 700;
    }
    .cont-desc{
        font-size: 1.5rem;
        line-height: 2.125rem;
        font-weight: 500;
        color: #252525;
        text-align: center;
    }
    .contact-form{
        margin-top: 1.625rem;
        font-size: 1rem;
        @media (max-width: $sm){
            width: 320px;
            padding-right: 10px;
        }
        select{
            color: #373737;
            font-weight: 400;
        }
        .half{
            width: 13.875rem;
            border: 2px solid #F0C687;
            border-radius: 40px;
            height: 3.125rem;
            margin-bottom: 0.75rem;
            padding-left: 0.938rem;
            padding-right: 0.938rem;
            background-color: #fff;
        }
        .full{
            width: 27.75rem;
            border: 2px solid #F0C687;
            border-radius: 40px;
            height: 3.125rem;
            margin-bottom: 1.5rem;
            padding-left: 0.938rem;
            padding-right: 0.938rem;
            background-color: #fff;
            @media (max-width: $sm){
                width: 100%;
            }
        }
        .submit{
            width: 6.75rem;
            height: 3.125rem;
            border-radius: 26px;
            border: none;
            color: #fff;
            font-size: 0.875rem;
            line-height: 1.313rem;
            font-weight: 600;
            cursor: pointer;
            margin-top: 1.25rem;
        }
        label {
            color: red;
            font-size: 12px;
            position: absolute;
            bottom: 5px;
            left: 15px;
        }
    }
}
.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99999;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
   
  }
  .white_content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 16px;
    z-index: 999999;
    @media (max-width: $sm){
      
    }
    @media (max-width: $xs) {
        min-width: 100%;
    }
    .closebtn{
        position: absolute;
        top: -10%;
        left: 92%;
        @media (max-width: $sm){
            left: 84%;
            top: 0%;
        }
        img{
            width: 50px;
        }
    }
  }
  .logo-mob{
    margin: 0 auto;
    margin-bottom: 20px;
  }
.btnbox {
    display: flex;
    position: relative;
    width: fit-content;
    cursor: pointer;
    animation: 3s btnpattern infinite;
    animation-delay: 2s;
    transition: all .7s linear;
    filter: none;
    @media (max-width: $sm) {
        margin: 0 auto;
    }
    @keyframes btnpattern {
        0% {
            filter: drop-shadow(#F0C687 0rem 0rem 0px);
        }
        50% {
            filter: drop-shadow(#F0C687 0rem 0rem 10px);
        }
        100% {
            filter: drop-shadow(#F0C687 0rem 0rem 0px);
        }
    }
    .center{
        width: 0%;
        transition: all 0.7s linear;
        animation: 3s forwards centeranim;
        animation-delay: .5s;
        overflow: hidden;
        .centertxt{
            color: #000;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            opacity: 0;
            transition: all 0.7s linear;
            animation: 1s forwards knowm;
            animation-delay: 1.8s;
            @media (max-width: $sm) {
                font-size: 11px;
                line-height: 15px;
            }
        }
    }
    @keyframes centeranim {
        from {
          width: 0%;
        }
        to {
            width: 100%;
        }
    }
    @keyframes knowm {
        from {
          opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
.sticky-btn {
        transform: rotate(-90deg);
        text-transform: uppercase;
        top: 65%;
        z-index: 99;
        padding: 16px 17px;
        border-radius: 34px;
        cursor: pointer;
        position: fixed;
        right: -115px;
        transform-origin: left top;
    @media (max-width: $sm) {
      
    }
}
.btnbox2{
    animation: 3s btnpatternb infinite;
    @keyframes btnpatternb {
        0% {
            filter: drop-shadow(#F0C687 0rem 0rem 0px);
        }
        50% {
            filter: drop-shadow(#3B1B04 5px 5px 10px);
        }
        100% {
            filter: drop-shadow(#F0C687 0rem 0rem 0px);
        }
    }
}
.centertxt1{
    display: none;
}
.lastrow{
    margin-top: 60px;
}

.bxcont {
    color: #502B13;
    font-size: 32px;
    line-height: 46px;
    font-family: $playfair;
    margin-top: 30px;
    span{
        font-size: 42px;
        font-weight: 600;
    }
}

// banner starts
.banner {
    background-image: url(../../assets/images/banner.webp);
    height: 700px;
    background-size: 100% 100%;
    background-position: 100%;
    @media screen and (min-height:760px){
        height:100vh
    }
    @media screen and (min-width:993px) and (max-width:1030px){
        height: 760px;
    }
    @media (max-width: $sm) {
        background-image: url(../../assets/images/banner-mob.webp);
        height: 100vh;
    }
    @media (min-width:1440px) and (min-height: 850px) {
        height: 100vh;
    }
    @media screen and (min-width:767px) and (max-width:992px){
        height:100vh
    }
    .h100{
        height: 100%;
    }
    .logo{
        position: absolute;
        top: 10vh;
        left: 12vh;
        @media screen and (min-width:993px) and (max-width:1030px){
            top: 5vh;
    }
    }
    .flbtm{
        display: flex;
        height: 100%;
        align-items: end;
        justify-content: center;
        @media (max-width: $sm) {
            position: absolute;
        }
    }
    .people{
        position: absolute;
        bottom: 0;
        right: 55px;
        @media screen and (min-width:993px) and (max-width:1030px){
            right: -45px;
        }
        @media screen and (min-width:1100px) and (max-width:1399px){
            width: 700px;
            right: 30px;
        }
        @media (max-width: $sm) {
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
        }
        @media screen and (min-width:767px) and (max-width:992px){
            width: 70%;
        }
    }
    .building{
        // animation-name: e;
        animation-duration: 5s;
        // @media screen and (min-height:760px){
        //     position: absolute;
        //     left: 0;
        // }
        @media (max-width: $sm) {
            width: 500px;
            left: -30px;
            position: absolute;
        }
        @media screen and (min-width:767px) and (max-width:992px){
            width: 890px;
            left: -10px;
        }
        @media screen and (min-width:1100px) and (max-width:1399px){
                width: 1000px;
                margin-right: -200px;
        }
    }
    .banner-content {
        position: absolute;
        top: 10vh;
        /* transform: translateY(-50%); */
        // animation-name: e;
        animation-duration: 5s;
        @media screen and (min-width:993px) and (max-width:1030px){
            top: 4vh;
            right: 3vh;
        }
        @media (max-width: $sm) {
            text-align: center;
            position: unset;
            margin-top: 60px;
        }
        .banner-head {
            color: #EFE1BB;
            font-size: 46px;
            line-height: 55px;
            font-family: $playfair;
            @media (max-width: $sm) {
                font-size: 31px;
                line-height: 36px;
            }
        }
        .banner-subhead {
            color: #EFE1BB;
            font-size: 46px;
            line-height: 55px;
            margin-left: 62px;
            font-family: $playfair;
            @media (max-width: $sm) {
                font-size: 31px;
                line-height: 36px;
                margin-left: 0px;
            }
        }
        .banner-desc {
            font-size: 56px;
            line-height: 87px;
            font-weight: 700;
            color: #EFE1BB;
            font-family: $playfair;
            @media (max-width: $sm) {
                font-size: 34px;
                line-height: 57px;
            }
        }
    }
}

.sec2{
    // background-image: url('../images/sec2bg.webp');
    background-size: 100% 100%;
}
.sec2-bg{
    background-image: url('../images/sec2bg.webp');
}

.natrajbg{
    position: absolute;
    right: -150px;
    -webkit-animation: bounce 25s linear infinite;
    -moz-animation: bounce 25s linear infinite;
    -ms-animation: bounce 25s linear infinite;
    -o-animation: bounce 25s linear infinite;
    animation: bounce 25s linear infinite;
    transition: all .7s linear;
    transform: translate(-50%,-50%);
    @media (max-width: $sm) {
        right: -10px;
        width: 90%;
        top: 20px;
    }
}
.paintbg {
    position: absolute;
    right: 85px;
    top: -75px;
    @media (max-width: $sm) {
        width: 250px;
        top: -35px;
        right: 0;
    
    }
}
.paintpad{
    z-index: 111;
    position: relative;
    animation: rotate3d 10s infinite;
    transition: all .7s linear;
}
@keyframes rotate3d {
    0% {
      transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
      transform: rotate3d(1, 1, 0, 50deg);
    }
    0% {
        transform: rotate3d(1, 1, 0, 0deg);
      }
  }
.bx1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 11;
    position: relative;
    margin: 60px 0;
    @media (min-width:$sm) and (max-width:$md){
        justify-content: center;
    }
    @media (max-width: $sm){
        flex-direction: column;
        align-items: flex-start;
    }
    @media screen and (min-width:767px) and (max-width:992px){
        align-items: flex-start;
    }

}
.bx1r{
    flex-direction: row-reverse;
    @media (max-width: $sm){
        flex-direction: column;
    }
}
.pathbox {
    margin-top: 90px;
    position: relative;
}
.dline {
    position: absolute;
    top: -120px;
}

.lasttxt {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    z-index: 11;
    position: relative;
    span{
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        font-family: $playfair;
    }
}

.music{
    position: absolute;
}


//Instruments section start

.instrument-slider-wrapper{
    margin-top: 30px;
    .slick-slide{
        transform: scale(0.8);
        transition: 0.6s all ease-in-out;
    }
    .slick-active{
        transform: scale(1);
    }
    .instrument-box-wrapper{
        // margin: 10px;
        padding: 30px;
        padding-bottom: 50px;
        @media (max-width: $sm) {
            margin: unset;
            padding-bottom: 30px;
        }
        @media (max-width:360px) {
            // min-height: 662px;
        }
        .instrument-content-wrapper{
            margin-top: 40px;
            display: grid;
            justify-content: end;
            padding-right: 55px;
            @media (max-width: $sm) {
                display: block;
                padding-right: 15px;
            }
            .inst-content{
                font-size: 30px;
                line-height: 40px;
                color: #502B13;
                @media (max-width: $sm) {
                    font-size: 28px;
                    line-height: 40px;
                }
                span{
                    font-size: 30px;
                    font-weight: 600;
                }
            }
            .inst-numbering{
                width: 98px;
                margin-bottom: 10px;
            }
        }        
    }
    .inst-right-corner{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.inst-img-wrapper{
    height: 313px;
    .table-cell{
        img{
            transform: scale(0.8);
            @media (max-width:$sl) {
                transform: scale(0.6);
            }
            @media (max-width:$sm) {
                margin-top: -50px;
                transform: scale(0.7);
            }
            @media (max-width:$xs) {
                margin-top: unset;
                transform: scale(1);
            }
        }
    }
}

.paintpadbgImg{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 250px;
}
.paintpadImg{
    position: relative;
    z-index: 1;
}
.inst-arrows{
    margin-top: 20px;
    .inst-arrow{
        margin: 10px;
    }
}

//Instruments section Ends

//Floor Plan section start
.floor-plan{
            .fpSpecsSliderWrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                @media (max-width: $sm) {
                    // display: block;
                    flex-direction: column;
                }
                .specInfoSlider, .specInfoSlider2{
                    .slick-track{
                        transform: translate3d(0, 0, 0) !important;
                    }  
                    .info{
                        font-size: 18px;
                        line-height: 22px;
                        color: rgba(125, 75, 43,0.6);
                        margin-bottom: 40px;
                        position: relative;
                        // border-bottom: 1px solid #000;
                        &::after{
                            position: absolute;
                            content: '';
                            width: 300px;
                            height: 1px;
                            background-color: rgba(125, 75, 43,0.6);
                            bottom: -20px;
                            left: 50%;
                            transform: translateX(-50%);
                            // margin-left: -50px;
                        }
                        &.slick-current{
                            color: #000;
                            &::after{
                                background-color: #000;
                            }
                        }
                    }
                }
                .floatingbtn{
                    position: absolute;
                    transform: translate(-50%,-50%);
                    left: 50%;
                    top: 50%;
                }
            }
            .tower-a-arrows, .tower-b-arrows{
                display: flex !important;
                justify-content: center;
                gap: 0 30px;
            }
}
.tabs-wrapper{
    display: inline-block;
   
    .tabs{
        font-size: 18px;
        line-height: 34px;
        padding: 5px 10px;
        color: #371B10;
        position: relative;
        border: 1px solid #371B10;
        @media (max-width: $xs) {
            font-size: 14px;  
            padding: 5px;          
        }
       &.tab-active{
        color: #fff;
        background-color: #371b10;       
       }
    }
    .tab-dot{
        width: 6px;
        height: 6px;
        background-color: #371B10;
        border-radius: 100%;
        vertical-align: middle;        
    }
}
.fp-wrapper{
    background-color: #7E4B2C;
    padding: 50px 10px;
    .plans_img{
        pointer-events: none;
        img{
            // transform: scale(0.8);
            filter: blur(4px);
        }
    }
}
.fp-desc{

}
//Floor Plan section End

//Location section start
.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
//   .animate-div{height: 0;} 

.location{
    iframe{
        .gm-bundled-control-on-bottom{
            visibility: none !important;
        }
    }
   
    .location-advantages-wrapper {
        
        .sec-head {
                margin:30px 0;
                text-align: center!important;
                display: block;

                @media (max-width: $xs) {
                    margin: 20px 0 0 0 ;
                }
        }

        .slider-center-content {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: $md) {
                flex-direction: column;
            }
        }

        .center-image-wrapper {
            margin: -30px auto 0;
            text-align: center;
            position: relative;
            z-index: 1;
            width: 585px;

            @media (max-width: $md) {
                margin: 150px auto;
                scale: 1.5;

                @media (max-width: $xs) {
                    min-height: 200px;
                    margin: unset;
                    scale: 0.7;
                }
            }

            .circle-animation {

                .slick-list {
                    overflow: visible;
                }
                .circle-pos {
                    position: absolute;

                    .slider-circle {
                        transition: all 0.4s ease-in-out;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
    
                        &::after {
                            position: absolute;
                        transition: all 0.4s ease-in-out;
                            content: '';
                            background-image: url(../../assets/images/rotating-circ.svg);
                            width: 90px;
                            height: 65px;
                            border-radius: 50%;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            transform: rotate(45deg);
                        }
    
                        img {
                            transition: all 0.4s ease-in-out;
                            scale: 1.2;
                        }
                    }
                }

                .circle-0 {
                    top: -375px;
                    left: 295px;
                }

                .circle-1 {
                    right: 110px;
                    top: -280px;
                }

                .circle-2 {
                    bottom: 49px;
                    right: 141px;
                }

                .circle-3 {
                    bottom: 38px;
                    left: 166px;                
                }

                .circle-4 {
                    top: -285px;
                    left: 126px;
                }

                .animate-ball {
                    .slider-circle {

                        &::after {
                            animation: rotation 5s infinite linear;
                            cursor: pointer;
                            width: 100px;
                            height: 80px;
        
                            @keyframes rotation { 
                                from { 
                                    transform: rotate(0deg); 
                                } to { 
                                    transform: rotate(360deg); 
                                }
                            }
                        }

                        img {
                            scale: 2;
                            opacity: 1;
                        }

                    }
                   
                }
            }
    }

    .location-adv-slider {
        position: relative;
        z-index: 9;

        .loc-adv-heading {
            font: normal normal 600 22px/32px 'Inter';
            color: hsl(6, 58%, 13%);
            text-align: left;
            padding-left: 35px;
            padding-bottom: 10px;

            @media (max-width: $xs) {
                padding: unset;
            }
        }

        .location-content-wrapper {
            display: grid;
            grid-template-columns: 60% 15% 25%;
            padding: 0 0px 0 35px;
            margin: auto;
            text-align: left;

            @media (max-width: $xs) {
                padding: unset;
            }
       
        .loc-con-txt {
            font: normal normal normal 14px/28px 'Inter';
            color: #34120E;
        }
       
    }
    }

    .loc-arrows-wrapper {
        margin-top: 20px;

        .slick-arrow.slick-hidden {
            display: block!important;
        }
    }
     
    }

    .secUL{
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background-color: rgba(125, 75, 43,0.6);
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

        .loc-adv{
        display:none;
         @media (max-width: $sm) {
            display:inline-block;
        }
        }
    .locationIconWrapperCover{
        margin-top: -120px;
        @media (max-width: $sm) {
            margin-top: unset;
        }
        .locationIconWrapper{
            .locationIconBox{
                margin: auto;
                width: 170px;
                height: 170px;
                background-color: #7E4B2C;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 20px 0;
                .info{
                    font-size: 16px;
                    line-height: 22px;
                    color: #FFFFFF;
                    font-weight: 600;
                }
            }
        }
      

        .locationIconMobWrapper{
            position: relative;
            .locMobSlide{
                .locIconMobBox{
                    transform: scale(1);
                    height: 132px;
                    padding: 14px 21px;
                    margin: 6px;
                    text-align: center;
                    transition: all 0.7s;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    background-color: #7E4B2C;
                    .icon{
                        svg{
                            width: 34px;
                            height: 28px;
                        }
                    }
                    .info{
                        font-size: 14px;
                        color: #FFF;
                        font-weight: 500;
                    }
                }
            }
            .locMobSliderArrows{
                display: flex !important;
                justify-content: center;
                gap: 0 30px;
            }
        }
    }
}
.flexgrid{
    display: grid;
    grid-template-columns: auto 50%;
}

.theme-btn{
    background-color: $brown;
    padding: 10px 20px;
    color: #FFEA91;
    min-width: 155px;
    text-align: center;
}
.get-direction{
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
}
.loc-icon-wrapper{
    padding: 20px 10px;
}
.loc-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loc-desc{
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

//Location section end


//Amenity section start
.amenity-slider-wrapper{
    margin-top: 50px;
    gap: 0 30px;
    .ame-content{
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        padding: 10px;
    }
    @media (max-width: $md) {
        .amenities-slider-1{
            img{width: 100%;}
        }
        .ame-arrows{
            position: relative;
            z-index: 9;
            #ame-prev,#ame-next{
                padding: 0 10px;
            }
        }
        .ame-bg-2{margin-bottom: -50px;}
        .ame-bg-3{margin-top: -50px;}
    }
    @media (max-width: $xs) {
     .ame-bg-2{margin-bottom: -40px;}
     .ame-bg-3{margin-top: -40px;}   
    }
}
.amenity-content-wrapper{
    padding: 50px 100px;        
    .amenities-slider-2{        
        .item{
            cursor: pointer;
            &.slick-current{
                .ame-content{
                    background-color: #855232;
                    color: #fff;
                }
            }
        }
        .slick-track{
            transform: translate3d(0, 0, 0) !important;
        }        
    }
}

//Amenity section end

//Gallery section start
.slick-arrow{cursor: pointer;}
.gallery-slider-wrapper{
    width: 990px;
    // width: 1038px;
    max-width: 100%;
    margin:30px auto 0;
    .item{margin: 0 10px;}
    #gallery-prev, #gallery-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #gallery-prev{left: -40px}
    #gallery-next{right: -40px}
    @media (max-width: $md) {
        #gallery-prev, #gallery-next{
            position: relative;
            top: initial;
            transform: initial;
            left: initial;
            right: initial;
        }
        .gallery-arrows{margin-top: 30px;}
        .item{margin: 0px;}
    }
}
.gallery-wrapper{
    background-color: $brown;
}
//Gallery section end

//About us section start
.about-us{
    padding-bottom: 0;
    @media (max-width: $sm) {
        padding-bottom: 50px;
    }
    .abtLogo{
        margin-bottom: 20px;
    }
    .abt_division{
        display: grid;
        grid-template-columns: 58% auto;
        gap: 0 150px;
        @media (max-width: $md) {
            grid-template-columns: 55% auto;
            gap: 0 90px;
        }
        @media (max-width: $sm) {
            grid-template-columns: auto;
        }
        .curtainWrapper{
            background-color: #7E4B2C;
            margin-right: 40px;
            // height: 100%;
            position: relative;
            .floatImg{
                position: absolute;
                top: 60%;
                right: -50px;
                transform: translateY(-50%);
                img{
                    width: 414px;
                }
            }
        }
    }
}
.abt-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 70px;
    .item2{
        grid-row: 2;
        grid-column: 1;
    }
    @media (max-width: $sm) {
        grid-template-columns: auto;
        margin-bottom: unset;
    }
    .circleImg{
        display: block;
        @media (max-width: $xs) {
            width: 45px !important;
        }
    }
    .loc-icon{
        @media (max-width: $xs) {
            width: 25px;
        }
    }
}
.abtImg{
    position: relative;
    z-index: 1;
    margin-bottom: -90px;
}
//About us section end

// footer starts
.marketcont {
    position: absolute;
    bottom: 50px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: $sm) {
        bottom: 20px;
    }
}
.footer-call-enquire{    
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 0;
    z-index: 9;
    display: none;
    background-color: #7e4b2c;
    @media (max-width: $sm) {
        display: block;
    }
}
.footer-div{
    // background-image: url('../images/ftrbg.webp');
    padding: 10px;
    float: left;
    width: 100%;
    padding-top: 0;
    height: 400px;
    background-size: 100% 100%;
    @media (max-width: $sm) {
        background-image: url('../images/ftrbg-mob.webp')!important;
        height: 750px;
        margin: 0 0 30px;
    }
    .jaingroup{
        width: 300px;
        margin-top: 30px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }
    .ftrbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 200px;
        @media (max-width: $sm) {
            flex-direction: column;
            height: auto;
            justify-content: center;
            padding-bottom: 100px;
            margin-top: 30px;
        }
    }
    .col2{
        @media (max-width: $sm) {
            margin-top: 60px;
        }
    }
    .ftrtxt {
        color: #EFE1BB;
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        text-align: center;
        @media (max-width: $sm) {
            font-size: 16px;
            line-height: 24px;        
        }
    }
    .ctabx {
        color: #EFE1BB;
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        @media (max-width:$md) {
            font-size: 18px;
        }
        @media (max-width: $sm) {
            font-size: 16px;
            line-height: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;    
        }
        .phone{
            color: #efe1bb;
            cursor: pointer;
            margin: 0 15px;
            @media (min-width:$sm) and (max-width:$md){
                margin: 0 9px;
            }
            img{
                width: 18px;
                margin-right: 8px;
                @media (min-width:$sm) and (max-width:$md){
                    margin-right: 5px;
                }
            }
        }
    }
    .footer-bottom{
        padding:10px 0 0;
        @media (max-width:$sm){
            margin-bottom: 100px;
        }

        .rera {
            p{
                font-size:14px;
                font-weight:300;
                font-stretch:normal;
                font-style:normal;
                line-height:27px;
                text-align:left;
                color:#efe1bb!important;
                @media (max-width: $sm) {
                    text-align:center;
                    line-height: 24px;
                }
            }
            a{color:#EFE1BB!important;}
        }
        .marketed{
            p{
                font-size:16px;
                font-weight:300;
                font-stretch:normal;
                font-style:normal;
                line-height:24px;
                text-align:right;
                color:#efe1bb;
                a{
                    font-size:16px;
                    font-weight:300;
                    font-stretch:normal;
                    font-style:normal;
                    line-height:24px;
                    text-align:right;
                    color:#efe1bb;
                }
            }
        }
    }
}
// footer ends

.ball {
    position: absolute;
    left: 20%;
    top: 17%;
    transform: translate(-50%,-50%);
    filter: drop-shadow(0 0 0.75rem #000);
    z-index: 11;
}
.ballbg {
    -webkit-animation: bounce 25s linear infinite;
    -moz-animation: bounce 25s linear infinite;
    -ms-animation: bounce 25s linear infinite;
    -o-animation: bounce 25s linear infinite;
    animation: bounce 25s linear infinite;
    transition: all .7s linear;
    @media (max-width: $sm) {
        margin-left: -55px;
    }
}

.ball {
    -webkit-animation: bounce 5s linear infinite;
    -moz-animation: bounce 5s linear infinite;
    -ms-animation: bounce 5s linear infinite;
    -o-animation: bounce 5s linear infinite;
    animation: bounce 5s linear infinite;
    transition: all .7s linear;
    @media (max-width: $sm) {
       left: 11%;
    }
  }

  @keyframes bounce {
    0%{
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// banner new css -------------------------------------------------

.tnc  {
    font-size: 8px;
    line-height: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 1px 4px;
    position: absolute;
    bottom: 30px;
    left: 0;
    &.right{
        left: unset;
        right: 0;
    }
    @media (max-width:$sm){
        bottom: 0;
    }
}
.artImp{
    font-size: 8px;
    line-height: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 1px 4px;
    position: absolute;
    bottom: 0px;
    right: 0;
}
.minh100{
    min-height: 100vh;
}
.banner-main {
    min-height: 100vh;

    @media (max-width: $xs) {
        min-height: unset;
    }
}
.banner-image, .banner-image-main {
    width: 100%;
}
.banner-arrows {
    display: flex; justify-content: space-between;position: absolute;top: 50%;transform: translateY(-50%);width: 100%;padding: 0 30px;z-index: 9;

    @media (max-width:$xs){
        padding: 0 10px;
        top: unset;
        bottom: 20%;
    }
}    
.banner-arrow {scale: 2;cursor: pointer;}   

.hidden-sm {
    display: block!important;

    @media (max-width:$sm){
        display: none!important;
    }
}

.visible-sm {
    display: none!important;

      @media (max-width:$sm){
        display: block!important;
    }
}

.fixed-whatsapp-icon {
    position: fixed;
    bottom: 30px;
    z-index: 77;
    left: 10px;
}