@import '_variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
$inter:'Inter', sans-serif;
$playfair:'Playfair Display', serif;
 
html {
	padding: 0;
	margin: 0;
	font-size: 62.5%;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	font-display: swap;
	overflow-x: hidden;
	font-family: $inter;
}
body {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	color: $black;
	font-display: swap;
	overflow-x: hidden;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent !important;
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
/*Header Section*/
header{position: fixed;width: 100%;top:0;left: 0;padding:10px 0 10px 0;z-index: 9999;transition: all 0.6s ease-in-out;}
header.active {
background-color: #fff;
box-shadow: 0px 3px 6px #00000029;
z-index: 99;
}
// header .brand-logo{transition: 0.2s all ease-in-out;display: none;}
// header.active .brand-logo{display: block;}
header .upper .number-wrapper{margin-right: 20px;margin-top: 10px;}
header .upper .ctc-wrapper{margin-right: 20px;}
header .upper .enq-btn-wrapper{}
header .upper .enq-btn-wrapper a{display: inline-block;padding:0px 15px;color:#fff;background-color: #6b6b6b;text-transform: uppercase;line-height: 40px;}
header .lower .nav-links{text-align: right;}
header .lower .nav-links a{display: inline-block;margin-right: 10px;margin-top: 10px;color:#000;position: relative;font-size: 16px;transition: 0.6s all ease-in-out;}
header.active .lower .nav-links a{margin-top: 20px;}
header .lower .nav-links a.active{color:#7e4b2c;}
header.active .lower .nav-links a:last-child{transition: 0.6s all ease-in-out;margin-top: 10px;}
header .lower .nav-links a:last-child{margin: 0;color: #fff;}
header .form-container{position: absolute;width: 300px; top:calc(100% + 10px);right: 15px;background-color:#efece7;padding:10px;display:none;}
header .form-container .frmclose{display: none;}
header .form-container .thankyou{margin-bottom: 10px;}

.call-icon svg {
width: 20px;
height: 20px;
position: relative;
right: 2px;
top: 4px;
}
.eq-height-row {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap
}
.menu-icon-mobile{display: none;}
a {
	text-decoration:none!important;
	&:focus{
		text-decoration:none!important;
	}
	&:hover{
		text-decoration:none!important;
	}
}
p {
	padding:0;
	margin:0;
}
ul {
	padding:0;
	margin:0;
	padding-inline-start:20px;
}
h1 {
	padding:0;
	margin:0;
}
h2 {
	padding: 0;
	margin: 0;
}
h3 {
	padding: 0;
	margin: 0;
}
h4 {
	padding: 0;
	margin: 0;
}
h5 {
	padding: 0;
	margin: 0;
}
h6 {
	padding: 0;
	margin: 0;
}
hr {
	padding: 0;
	margin: 0;
}
figure {
	padding: 0;
	margin: 0;
}
dt {
	padding: 0;
	margin: 0;
}
dd {
	padding: 0;
	margin: 0;
}
.m-auto{margin:0 auto;}
.container {
	max-width:1200px;
	margin:0px auto;
	padding: 0 15px;
	@media (max-width:$sl) {
		padding: 0 25px;
	}
	@media (max-width: $md) {
        padding: 0 50px;
    }
    @media (max-width: $sm) {
        padding: 0 40px;
    }
    @media (max-width: $xs) {
        padding: 0 20px;
    }
}
.pull-left{float: left!important;}
.pull-right{float: right!important;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}
.text-uppercase{text-transform: uppercase;}
.text-lowercase{text-transform: lowercase;}
.text-capitalize{text-transform: capitalize;}
.text-italic{font-style: italic;}
.text-light{font-weight: 300;}
.text-reg{font-weight: 400;}
.text-medium{font-weight: 500;}
.text-semibold{font-weight: 600;}
.text-bold{font-weight: 700;}
.bg-pink{background-color: $bg_pink;}
.img-responsive {
	max-width: 100%;
	height: auto;
}
.img-full {
	width: 100%;
	height: auto;
}
.col-1 {
	width: 8.333333333333333%;
	float: left;
}
.col-2 {
	width: 16.66666666666667%;
	float: left;
}
.col-3 {
	width: 25%;
	float: left;
}
.col-4 {
	width: 33.33333333333333%;
	float: left;
}
.col-5 {
	width: 41.66666666666667%;
	float: left;
}
.col-6 {
	width: 50%;
	float: left;
}
.col-7 {
	width: 58.33333333333333%;
	float: left;
}
.col-8 {
	width: 66.66666666666667%;
	float: left;
}
.col-9 {
	width: 75%;
	float: left;
}
.col-10 {
	width: 83.33333333333333%;
	float: left;
}
.col-11 {
	width: 91.66666666666667%;
	float: left;
}
.col-12 {
	width: 100%;
	float: left;
}
.col-12-5 {
	width: 20%;
	float: left;
}
.w30{float: left;}
.w70{float: left;}
section {
	float: left;
	width: 100%;
}
.padding{padding: 45px 0px;}
.pos-rel{position: relative;}
.pos-abs{position: absolute;}
.pos-fix{position: fixed;}
.bottom{bottom: 0;}
.top{top: 0;}
.left{left: 0;}
.right{right: 0;}
.visible-md{display: none!important;}
.visible-xs{display: none!important;}
.visible-sm{display: none!important;}
.hidden-md{display: block;}
.hidden-xs{display: block;}
.disptable{display: table;height: 100%;}
.dispblock{display: block;}
.disInBlock{display: inline-block;}
.table-cell{display: table-cell;vertical-align: middle;}
.vert-middle{vertical-align: middle;}
.dis-flex{display: flex;align-items: center;}
.row {
	&:before {
		display: table;
		content: " ";
	}
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
}
.clearfix{clear: both;}
@media (max-width:1024px) {
	header.header-bg{background-color: #fff;box-shadow: 0 3px 6px rgba(0,0,0,.1607843137);}
	.visible-md{display:block!important;}
	.hidden-md{display:none!important;}
	header.active .lower .nav-links a{margin-top: 20px;}
	.col-md-12{width:100%;}

}
@media screen and (min-width:993px) and (max-width:1030px){
    /* common starts */
.padding{padding:40px 0px;}
.col-sm-12{width:100%;}
.col-sm-11{width:91.66666666666667%;}
.col-sm-10{width:83.33333333333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666666666667%;}
.col-sm-7{width:58.33333333333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666666666667%;}
.col-sm-4{width:33.33333333333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666666666667%;}
.col-sm-1{width:8.333333333333333%;}
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-12-5,
.w30,
.w70{float:left;}
}



@media screen and (max-width:992px){
    /* common starts */
.padding{padding:40px 0px;}
.col-xs-12{width:100%;}
.col-xs-11{width:91.66666666666667%;}
.col-xs-10{width:83.33333333333333%;}
.col-xs-9{width:75%;}
.col-xs-8{width:66.66666666666667%;}
.col-xs-7{width:58.33333333333333%;}
.col-xs-6{width:50%;}
.col-xs-5{width:41.66666666666667%;}
.col-xs-4{width:33.33333333333333%;}
.col-xs-3{width:25%;}
.col-xs-2{width:16.66666666666667%;}
.col-xs-1{width:8.333333333333333%;}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-12-5,
.w30,
.w70{float:left;}
.visible-xs{display:block!important;}
.hidden-xs{display:none!important;}
.text-centerm{text-align:center;}

.menu-icon-mobile{display: block;width: 50px;padding: 14px 10px 4px 8px;background-color: none;border-radius: 0px; margin:0;position: absolute;
	top:5px;right: 10px;height: 40px;}
.menu-icon-mobile.active{top: 8px;}
.menu-icon-mobile>span{display: block;height: 2px;width: 100%; margin-bottom: 6px;background-color: #000;}
.menu-icon-mobile.active>span:nth-child(1) {
  transform: rotate(45deg);
}
.menu-icon-mobile.active>span:nth-child(2) {
  transform: rotate(135deg);
  position: relative;
  top: -8px;
}
.menu-icon-mobile.active>span:nth-child(3) {
  display: none;
}
header{padding: 10px 0;}
header .nav-links a.call-us{display: none !important;}
header .nav-links{ display: none;position: fixed;top: 69px;left: 0;background-color: #fff; width: 100%;height: 100%;z-index: 999;}
header .nav-links a{display: block !important;text-align: center;line-height: 40px !important;color:#fff ;margin-top: 0px;margin-right: 0px;}
header .lower .nav-links a:last-child{margin-right: 0px;}
header .lower .nav-links a{margin-right: 0px;color:#000;}
header .upper .enq-btn-wrapper{margin-right: 50px;margin-top: 15px;}
header .upper .ctc-wrapper{margin-right: 5px;}
header .upper .number-wrapper{margin-right: 15px;margin-top: 25px;}
header .brand-logo{display: block;}
header .brand-logo img{width: 150px;}
#know-more{display: none;}
}
@media (max-width:640px) {
	header{
		padding: 5px 0;
	}
	header .nav-links{
		top: 58px;
	}
	.menu-icon-mobile{
		top: 3px;
		right: 0;
	}
	.menu-icon-mobile>span{
		width: 80%;
	}
	
}
      /*Animation Start*/

      .revealOnScroll {
		opacity: 0
	}

	.animated {
		-moz-animation-duration: 1.2s;
		-o-animation-duration: 1.2s;
		-webkit-animation-duration: 1.2s;
		-ms-animation-duration: 1.2s;
		animation-duration: 1.2s;
		-moz-animation-fill-mode: both;
		-o-animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
		-ms-animation-fill-mode: both;
		animation-fill-mode: both
	}

	@keyframes fadeInLeft {
		from {
			opacity: 0;
			-webkit-transform: translate3d(-100%, 0, 0);
			-o-transform: translate3d(-100%, 0, 0);
			-moz-transform: translate3d(-100%, 0, 0);
			-ms-transform: translate3d(-100%, 0, 0);
			transform: translate3d(-100%, 0, 0)
		}
		to {
			opacity: 1;
			-webkit-transform: none;
			-ms-transform: none;
			-moz-transform: none;
			-o-transform: none;
			transform: none
		}
	}

	.fadeInLeft {
		-webkit-animation-name: fadeInLeft;
		-o-animation-name: fadeInLeft;
		-ms-animation-name: fadeInLeft;
		-moz-animation-name: fadeInLeft;
		animation-name: fadeInLeft
	}

	@keyframes fadeInRight {
		from {
			opacity: 0;
			-webkit-transform: translate3d(100%, 0, 0);
			-o-transform: translate3d(100%, 0, 0);
			-ms-transform: translate3d(100%, 0, 0);
			-moz-transform: translate3d(100%, 0, 0);
			transform: translate3d(100%, 0, 0)
		}
		to {
			opacity: 1;
			-webkit-transform: none;
			-o-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			transform: none
		}
	}

	.fadeInRight {
		-webkit-animation-name: fadeInRight;
		-o-animation-name: fadeInRight;
		-ms-animation-name: fadeInRight;
		-moz-animation-name: fadeInRight;
		animation-name: fadeInRight
	}

	@keyframes fadeInUp {
		from {
			opacity: 0;
			-webkit-transform: translate3d(0, 100%, 0);
			-o-transform: translate3d(0, 100%, 0);
			-ms-transform: translate3d(0, 100%, 0);
			-moz-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0)
		}
		to {
			opacity: 1;
			-webkit-transform: none;
			-o-transform: none;
			-ms-transform: none;
			-moz-transform: none;
			transform: none
		}
	}

	.fadeInUp {
		-webkit-animation-name: fadeInUp;
		-o-animation-name: fadeInUp;
		-ms-animation-name: fadeInUp;
		-moz-animation-name: fadeInUp;
		animation-name: fadeInUp
	}

	@keyframes fadeInDown {
		from {
			opacity: 0;
			-webkit-transform: translate3d(0, -100%, 0);
			-o-transform: translate3d(0, -100%, 0);
			-moz-transform: translate3d(0, -100%, 0);
			-ms-transform: translate3d(0, -100%, 0);
			transform: translate3d(0, -100%, 0)
		}
		to {
			opacity: 1;
			-webkit-transform: none;
			-o-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			transform: none
		}
	}

	.fadeInDown {
		-webkit-animation-name: fadeInDown;
		-o-animation-name: fadeInDown;
		-ms-animation-name: fadeInDown;
		-moz-animation-name: fadeInDown;
		animation-name: fadeInDown
	}

	@keyframes fadeIn {
		0% {
			opacity: 0
		}
		to {
			opacity: 1
		}
	}

	.fadeIn {
		animation-name: fadeIn;
	}
	@media only screen and (min-width: 1024px) and (max-width: 1292px)  {
		header .lower .nav-links a{
			margin-right: 4px;
			font-size: 14px;
		}
	}